@font-face {
  font-family: "Helvetica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr-Light.eot");
  src: url("../fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue Cyr - Roman";
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr-Bold.eot");
  src: url("../fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Helvetica Neue Cyr - Roman";
  font-size: 16px;
  font-weight: 400;
}

body.modal-open {
  overflow: hidden;
}

:hover,
:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
}

.backdrop {
  overflow: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  -webkit-transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1), visibility 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1), visibility 750ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.6) rotate(160deg) translateY(500px);
          transform: scale(0.6) rotate(160deg) translateY(500px);
  -webkit-transition: -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transition: -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-height: 610px) {
  .modal {
    top: 50%;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  fill: #003265;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__icon {
  vertical-align: middle;
}

.backdrop__text {
  font-family: "Helvetica Neue Cyr";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form__field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.input__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #212121;
}

.form__input:focus,
.comments__input:focus {
  border-color: #003265;
}

.form__label {
  font-family: "Helvetica Neue Cyr";
  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;
  display: block;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.form__input:focus + .input__icon {
  fill: #003265;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 15px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comments__input {
  width: 100%;
  height: 120px;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  font-size: 14px;
  line-height: 1.14px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .comments__input {
    font-size: 12px;
    line-height: 1.17;
  }
}
.comments__input::-webkit-input-placeholder {
  font-family: "Helvetica Neue Cyr";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comments__input::-moz-placeholder {
  font-family: "Helvetica Neue Cyr";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comments__input:-ms-input-placeholder {
  font-family: "Helvetica Neue Cyr";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comments__input::-ms-input-placeholder {
  font-family: "Helvetica Neue Cyr";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comments__input::placeholder {
  font-family: "Helvetica Neue Cyr";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .comments__input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .comments__input::-moz-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .comments__input:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .comments__input::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .comments__input::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
}

.form__field-comments {
  margin-bottom: 20px;
}

.form__button {
  font-family: "Helvetica Neue Cyr";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  font-style: normal;
  letter-spacing: 0.06em;
  color: #f3eded;
  background-color: #003265;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  border: none;
}

.link__policy {
  color: #003265;
  text-decoration: underline;
}

.check__text {
  font-family: "Helvetica Neue Cyr";
  font-weight: 300;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.check__item {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px #212121 solid;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__field {
  margin-bottom: 30px;
}

.check__icon {
  fill: #ffffff;
}

.modal__check:checked + .check__text .check__item {
  background-color: #003265;
  border: none;
}

@media screen and (max-width: 1199px) {
  .modal__text {
    font-size: 12px;
    line-height: 1.17;
  }
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.footer {
  padding: 32px 0px 21px;
}

.footer__title {
  color: #000000;
  font-family: "Helvetica Neue Cyr";
  font-size: 24px;
  font-weight: 700;
  line-height: 40.64px;
  text-align: center;
  text-transform: uppercase;
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__form {
  margin: 28px 0px 24px;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) {
  .footer__field {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__field:not(:first-child) {
    margin-left: 15px;
  }
}

.footer__input {
  width: 281px;
  height: 62px;
  border-radius: 25px;
  border: none;
  background-color: #e5e5e5;
  color: #f74a4a;
  font-family: "Helvetica Neue Cyr";
  font-size: 18px;
  font-weight: 300;
  padding-left: 23px;
}
.footer__input::-webkit-input-placeholder {
  color: #8e8e8e;
  font-family: "Helvetica Neue Cyr";
  font-size: 18px;
  font-weight: 300;
}
.footer__input::-moz-placeholder {
  color: #8e8e8e;
  font-family: "Helvetica Neue Cyr";
  font-size: 18px;
  font-weight: 300;
}
.footer__input:-ms-input-placeholder {
  color: #8e8e8e;
  font-family: "Helvetica Neue Cyr";
  font-size: 18px;
  font-weight: 300;
}
.footer__input::-ms-input-placeholder {
  color: #8e8e8e;
  font-family: "Helvetica Neue Cyr";
  font-size: 18px;
  font-weight: 300;
}
.footer__input::placeholder {
  color: #8e8e8e;
  font-family: "Helvetica Neue Cyr";
  font-size: 18px;
  font-weight: 300;
}

@media screen and (max-width: 1199px) {
  .footer__container--button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container--button {
    margin-left: auto;
  }
}

.footer__button {
  width: 253px;
  height: 62px;
  border: 6px solid;
  border-radius: 25px;
  color: #ffffff;
  font-family: "Helvetica Neue Cyr";
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
@media screen and (max-width: 1199px) {
  .footer__button {
    width: 70%;
  }
}
@media screen and (max-width: 767px) {
  .footer__button {
    width: 281px;
  }
}

.footer__button--yellow {
  border-color: #f19a60;
  background-color: #ef7625;
}

.footer__button--red {
  background-color: #eb2602;
  border-color: #dbd6d5;
}

.footer__text {
  color: #000000;
  font-family: "Helvetica Neue Cyr";
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

.footer__link {
  color: inherit;
  text-decoration: underline;
}

.container__header {
  padding: 23px 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-link {
  font-family: "Helvetica Neue Cyr";
  font-size: 31px;
  font-weight: 700;
  line-height: 30px;
}

.logo-link--blue {
  color: #004178;
}

.logo-link--red {
  color: #eb2602;
}

@media screen and (max-width: 1199px) {
  .nav,
.header__btn {
    margin-bottom: 40px;
  }
}

.nav__list {
  margin-right: 67px;
}

.nav__maps,
.nav__text {
  color: #454545;
  font-family: "Helvetica Neue Cyr";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

@media screen and (min-width: 1200px) {
  .order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__btn {
  padding: 9px 27px;
  border: 6px solid;
  border-radius: 25px;
  margin-right: 57px;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.64px;
}

.header__btn--blue {
  border-color: #5788bb;
  background-color: #003265;
}

.header__btn--red {
  background-color: #eb2602;
  border-color: #dbd6d5;
}

@media screen and (max-width: 1199px) {
  .order__item:not(:last-child),
.nav__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.order__tel {
  color: #454545;
  font-family: "Helvetica Neue Cyr";
  font-size: 25px;
  font-weight: 700;
  line-height: 23.91px;
}

.order__mail {
  color: #454545;
  font-family: "Helvetica Neue Cyr - Roman";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

@media screen and (min-width: 1200px) {
  .mobile__menu {
    margin-left: auto;
  }
}
@media screen and (max-width: 1199px) {
  .mobile__menu {
    background-color: rgba(25, 28, 38, 0.2);
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    height: 100vh;
    width: 100vw;
    -webkit-transition: -webkit-transform 650ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 650ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 650ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 650ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 650ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mobile__menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.button__close {
  display: block;
  fill: #303030;
  margin-bottom: 30px;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .button__close {
    display: none;
  }
}

.container__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .container__menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 1199px) {
  .container__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 70vw;
    background-color: #ffffff;
    -webkit-box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
            box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
    padding: 48px 31px 48px 40px;
  }
}

.button__open {
  fill: #303030;
}
@media screen and (min-width: 1199px) {
  .button__open {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section__blue {
  padding: 20px 0 62px;
  background-color: #004178;
}

.section__red {
  padding: 29px 0 34px;
  background-color: #eb2602;
}

.promotion__title {
  color: #ffffff;
  font-family: "Helvetica Neue Cyr";
  font-size: 47px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin-bottom: 60px;
  position: relative;
}
.promotion__title::after {
  position: absolute;
  bottom: -15px;
  left: 46%;
  content: "";
  width: 162px;
  height: 4px;
  background-color: #ef7625;
}
@media screen and (max-width: 1199px) {
  .promotion__title::after {
    left: 50%;
  }
}
@media screen and (max-width: 1199px) {
  .promotion__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 45px;
  }
}

.promotion__title--red {
  color: #ffffff;
  font-family: "Helvetica Neue Cyr";
  font-size: 47px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (max-width: 1199px) {
  .promotion__title--red {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 45px;
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .promotion--red {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.promotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .promotion {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 1199px) {
  .promotion {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.promotion__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.promotion__item:not(:last-child) {
  margin-bottom: 35px;
}

.promotion__item--picture {
  margin-right: 19px;
}
.promotion__item--picture img {
  max-width: none;
}

.promotion__item--red:first-child::before {
  content: "1";
  top: 0;
  left: 0;
  margin-right: 20px;
  min-width: 43px;
  height: 43px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: radial-gradient(closest-side, #dbd6d5 75%, #ffffff 75%);
  color: #124143;
  font-family: "Helvetica Neue Cyr";
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.promotion__item--red:last-child::before {
  content: "2";
  top: 0;
  left: 0;
  margin-right: 20px;
  min-width: 43px;
  height: 43px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: radial-gradient(closest-side, #dbd6d5 75%, #ffffff 75%);
  color: #124143;
  font-family: "Helvetica Neue Cyr";
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.promotion__container--red {
  max-width: 643px;
}

.promotion__container {
  max-width: 518px;
}

.promotion__pretitle {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 11px;
}

.promotion__text {
  color: #ffffff;
  line-height: 22px;
}

@media screen and (max-width: 1199px) {
  .promotion__picture--container {
    margin-top: 35px;
  }
}

.section {
  padding: 20px 0px 23px;
}

.section__title {
  color: #242424;
  font-family: "Helvetica Neue Cyr";
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-bottom: 23px;
}
@media screen and (max-width: 1199px) {
  .section__title {
    line-height: 30px;
  }
}

.section__text {
  color: #124143;
  line-height: 22px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */