.container__header {
	padding: 23px 20px 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo-link {
	font-family: 'Helvetica Neue Cyr';
	font-size: 31px;
	font-weight: 700;
	line-height: 30px;
}
.logo-link--blue {
	color: #004178;
}
.logo-link--red {
	color: #eb2602;
}
.nav,
.header__btn {
	@media screen and (max-width: 1199px) {
		margin-bottom: 40px;
	}
}
.nav__list {
	margin-right: 67px;
}
.nav__maps,
.nav__text {
	color: #454545;
	font-family: 'Helvetica Neue Cyr';
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
}
.order {
	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: center;
	}
}
.header__btn {
	padding: 9px 27px;
	border: 6px solid;
	border-radius: 25px;
	margin-right: 57px;
	color: #ffffff;
	font-family: inherit;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.64px;
}
.header__btn--blue {
	border-color: #5788bb;
	background-color: #003265;
}
.header__btn--red {
	background-color: #eb2602;
	border-color: #dbd6d5;
}
.order__item,
.nav__item {
	&:not(:last-child) {
		@media screen and (max-width: 1199px) {
			margin-bottom: 20px;
		}
	}
}
.order__tel {
	color: #454545;
	font-family: 'Helvetica Neue Cyr';
	font-size: 25px;
	font-weight: 700;
	line-height: 23.91px;
}
.order__mail {
	color: #454545;
	font-family: 'Helvetica Neue Cyr - Roman';
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
}
.mobile__menu {
	@media screen and (min-width: 1200px) {
		margin-left: auto;
	}
	@media screen and (max-width: 1199px) {
		background-color: rgba(25, 28, 38, 0.2);
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
			0px 1px 3px rgba(0, 0, 0, 0.16);
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1;
		transform: translateX(100%);
		height: 100vh;
		width: 100vw;
		transition: transform 650ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}
.mobile__menu.is-open {
	transform: translateX(0);
}
.button__close {
	display: block;
	fill: #303030;
	margin-bottom: 30px;
	margin-left: auto;
	@media screen and(min-width:1200px) {
		display: none;
	}
}
.container__menu {
	display: flex;
	@media screen and (min-width: 1200px) {
		align-items: center;
	}
	@media screen and(max-width:1199px) {
		flex-direction: column;
		overflow: auto;
		z-index: 2;
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		width: 70vw;
		background-color: #ffffff;
		box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04),
			-2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
		padding: 48px 31px 48px 40px;
	}
}
.button__open {
	fill: #303030;
	@media screen and(min-width:1199px) {
		display: none;
	}
}
