.section__blue {
	padding: 20px 0 62px;
	background-color: #004178;
}
.promotion__title {
	color: #ffffff;
	font-family: 'Helvetica Neue Cyr';
	font-size: 47px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
	margin-bottom: 60px;
	position: relative;
	&::after {
		position: absolute;
		bottom: -15px;
		left: 46%;
		content: '';
		width: 162px;
		height: 4px;
		background-color: #ef7625;
		@media screen and (max-width: 1199px) {
			left: 50%;
		}
	}

	@media screen and (max-width: 1199px) {
		justify-content: center;
		flex-direction: column;
		line-height: 45px;
	}
}
.promotion {
	display: flex;
	@media screen and (min-width: 1200px) {
		justify-content: space-between;
	}
	@media screen and (max-width: 1199px) {
		justify-content: center;
		flex-direction: column;
	}
}
.promotion__item {
	display: flex;
	&:not(:last-child) {
		margin-bottom: 35px;
	}
}
.promotion__item--picture {
	margin-right: 19px;
	& img {
		max-width: none;
	}
}
.promotion__container {
	max-width: 518px;
}
.promotion__pretitle {
	color: #ffffff;
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 11px;
}
.promotion__text {
	color: #ffffff;
	line-height: 22px;
}

.promotion__picture--container {
	@media screen and (max-width: 1199px) {
		margin-top: 35px;
	}
}
